<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./form.css" />
    <title>Q&A Form</title>
  </head>
  <body>
    <form method="POST" action="send">
      <h1>Q & A</h1>
      <div class="inset">
        <p>
          <label for="email">Topic</label>
          <input type="text" name="email" id="email" />
        </p>
        <p>
          <label for="password">Content</label>
          <input type="text" name="password" id="password" />
        </p>
      </div>
      
      <p class="p-container">
        <input type="submit" name="go" id="go" value="Log in" />
      </p>
    </form>
    <script src="https://www.gstatic.com/firebase/6.6.0/firebase-app.js></script>
      <script src="https://www.gstatic.com/firebase/6.6.0/firebase-firestore.js></script>
      <script src="./questionform.js"></script>
  </body>
</html>
